@import url(https://fonts.googleapis.com/css?family=Alegreya:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Chewy);
body {
  margin: 40px;
  background:#f4f1bb;
  font-family: 'alegreya',sans-serif;
  font-size: 21px;
}

h1 {
  font-size: 72px;
  text-align: center;
  font-family: 'Chewy', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #ed6a5a;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}


