@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700,800);
html {
    
}
body {
  width:600px;
  margin:auto;
  background:#ecf0f1;
  font-family:'Dosis', sans-serif;
  line-height:1.5;
  font-size:19px;
}

h1 {
 font-family:'Amatic SC', cursive;
 font-weight:normal;
 text-align:center;
 font-size:100px;
 color:#ea6153;
 line-height:1;
 margin:0;
}

h2 {
 color:#ea6153;
}
h3 {
 text-align:center;
 font-weight:normal;
 font-size:32px;
 margin-bottom:50px;
}

